### NEED TO MOVE THIS FORM TO UPDATE AS IT WILL BE USED TO CHECKOUT CART (UPDATE STATUS) NOT TO CREATE NEW ORDER...NO VIEW NEEDED FOR CREATE

<h2>Review Cart</h2>

<%= form_for @order do |f| %>

<%= f.label :name, "Name: " %>
<%= f.text_field :name, placeholder: "Dwayne Johnson" %>

<%= f.label :email, "Email: " %>
<%= f.email_field :email, placeholder: "dwayne.johnson@sweatsy.com" %>

<%= f.label :cc_num, "Credit Card: " %>
<%= f.number_field :cc_num, placeholder: "XXXXXXXXXXXX" %>

<%= f.label :cc_cvv, "CVV: " %>
<%= f.number_field :cc_cvv, placeholder: "XXX" %>

<%= f.label :expiry_date, "Expiration: " %>

### THIS IS MAKING TEST FAIL
<%= f.date_select :expiry_date, :discard_day => true, :start_year => Date.today.year, :end_year => (Date.today.year+10), :use_month_numbers => true, :order => [:month, :year] %>

<%= f.label :zip, "Billing Zip: " %>
<%= f.number_field :zip, placeholder: "XXXXX" %>

<%= f.submit "Check Out", class: 'button' %>

<% end %>
