<div class='order-summary'>

  <h2>
    <%= "Confirmation for order #{@previous_order.id}" %>
  </h2>

  <table>
    <thead>
      <tr>
        <td>Product</td>
        <td>Quantity</td>
        <td>Subtotal</td>
      </tr>
    </thead>

    <% @previous_order.order_products.each do |i| %>

    <tbody>

      <tr>
        <td><%= link_to i.product.name, product_path(i.product.id) %></td>
        <td><%= "x #{i.quantity}" %></td>
        <td><%= "#{number_to_currency(i.subtotal)}" %></td>
      </tr>

    </tbody>

    <% end %>

  </table>

  <h3>Order Total: <%= number_to_currency(@previous_order.order_total) %></h3>

<section class="confirm-info">

  <h3>Summary</h3>
  <table class="small-summary">
    <thead>
      <tr>
        <td>Placed: </td>
        <td><%= date_placed(@previous_order) %></td>
      </tr>
      <tr>
        <td>Status: </td>
        <td><%= @previous_order.status.titleize %></td>
      </tr>
    </thead>
  </table>

</section>

<section>

  <h3>Contact</h3>
  <table class="small-summary">
    <thead>
      <tr>
        <td>Name: </td>
        <td><%= @previous_order.name %></td>
      </tr>
      <tr>
        <td>Email: </td>
        <td><%= @previous_order.email %></td>
      </tr>
      <tr>
        <td>Address: </td>
        <td><%= @previous_order.address %></td>
      </tr>
    </thead>
  </table>

</section>

<section>

  <h3>Billing</h3>

  <table class="small-summary">
    <thead>
      <tr>
        <td>Credit Cart: </td>
        <td><%= last_four(@previous_order) %></td>
      </tr>
      <tr>
        <td>Expiration: </td>
        <td><%= @previous_order.expiry_date %></td>
      </tr>
      <tr>
        <td>CCV Number: </td>
        <td><%= @previous_order.cc_cvv %></td>
      </tr>
      <tr>
        <td>Billing Zip: </td>
        <td><%= @previous_order.zip %></td>
      </tr>
    </thead>
  </table>

</section>
</div>
