<h2><%= "Checkout #{@current_order.id} #{@current_order.status}" %></h2>

  <section id="checkout">

    <section class="form">
      <%= form_for @current_order, url: cart_path do |f| %>

        <%= f.label :name, "Name: " %>
        <%= f.text_field :name, placeholder: "Dwayne Johnson" %>

        <%= f.label :email, "Email: " %>
        <%= f.email_field :email, placeholder: "dwayne.johnson@sweatsy.com" %>

        <%= f.label :cc_num, "Credit Card: " %>
        <%= f.number_field :cc_num, placeholder: "XXXXXXXXXXXX" %>

        <%= f.label :cc_cvv, "CVV: " %>
        <%= f.number_field :cc_cvv, placeholder: "XXX" %>

        <%= f.label :expiry_date, "Expiration: " %>

        ### THIS IS MAKING TEST FAIL
        <%= f.date_select :expiry_date, :discard_day => true, :start_year => Date.today.year, :end_year => (Date.today.year+10), :use_month_numbers => true, :order => [:month, :year] %>

        <%= f.label :zip, "Billing Zip: " %>
        <%= f.number_field :zip, placeholder: "XXXXX" %>

        <%= f.submit "Place Order", class: 'button' %>

        <%= link_to "Back to Cart", cart_path, class: "button" %>

      <% end %>
    </section>

    <section class="review">
      <% @order_products.each do |i| %>

        <div class="checkout-items">

          <span>
            <%= link_to i.product.name, product_path(i.product.id) %>
            <%= "x #{i.quantity}" %>
          </span>

          <span><%= "Sub Total: #{number_to_currency(i.product.price * i.quantity)}" %></span>

        </div>

      <% end %>

      <h3>Order Total: <%= number_to_currency current_order.order_total %></h3>

    </section>

  </section>
