<% if @order_products.any? %>
  <div class="cart-items">
    <% @order_products.each do |i| %>

    <%= i.product.name %>
    <%= form_for i do |f| %>
      <% max = i.product.available %>
      <%= f.hidden_field :product_id, value: i.product.id %>
      <%= f.number_field :quantity, value: i.quantity, min: 1, max: max, class: "quantity" %>
      <%= f.submit "Update", class: "button" %>
      <%= "Unit Price: #{i.product.price}" %>
      <%= "Total: #{number_to_currency(i.product.price * i.quantity)}" %>
    <% end %>
      <%= link_to "Delete", order_product_path(i), :data => {:confirm => "You sure?", :method => "delete"}, class: "button" %>
    <% end %>
  </div>

  <h3>OrderTotal: <%= number_to_currency current_order.order_total %></h3>

<% else %>
  <h3>Your shopping cart is empty.</h3>

<% end %>
