<div>
  <div class="top">
    <h2>
      All products
    </h2>
  </div>
  <div>
    <ul class="pagination text-center">
      <li class="pagination-previous disabled">Previous</li>
      <li class="current"><span class="show-for-sr">You're on page</span> 1</li>
      <li><a href="#" aria-label="Page 2">2</a></li>
      <li><a href="#" aria-label="Page 3">3</a></li>
      <li><a href="#" aria-label="Page 4">4</a></li>
      <li><a href="#" aria-label="Page 5">5</a></li>
      <li><a href="#" aria-label="Page 6">6</a></li>
      <li class="pagination-next"><a href="#" aria-label="Next page">Next</a></li>
    </ul>
  </div>
  <div class='grid-x'>
    <% @products.each do |product| %>
    <ul>
      <li class='thumbnail'>

        <div class='image'>
          <img src='http://placekitten.com/g/200/250' alt='placeholder photo' />
        </div>

        <div class='caption'>
          <h5><strong><%=link_to product.name, product_path(product) %></strong> </h5>
          <h5 class='float-right'><%= number_to_currency(product.price) %></h5>
          <p class='description'><%= product.description %></p>
          <p class='num_available'> <%= product.available%> Available </p>
        </div>

        <div class='rating'>
          <p>Average Rating <%= average_rating(product) %> </p>
        </div>

        <div class='text-center'>
            <%= form_for @order_product do |f| %>
              <% max = product.available %>
              <%= f.hidden_field :product_id, value: product.id %>
              <%= f.number_field :quantity, value: 1, min: 1, max: max, class: "quantity" %>
              <%= f.submit "Add to cart", class: "button" %>
            <% end %>
        </div>

      </li>
    </ul>
    <% end%>
  </div>
  <div>
    <ul class="pagination text-center">
      <li class="pagination-previous disabled">Previous</li>
      <li class="current"><span class="show-for-sr">You're on page</span> 1</li>
      <li><a href="#" aria-label="Page 2">2</a></li>
      <li><a href="#" aria-label="Page 3">3</a></li>
      <li><a href="#" aria-label="Page 4">4</a></li>
      <li><a href="#" aria-label="Page 5">5</a></li>
      <li><a href="#" aria-label="Page 6">6</a></li>
      <li class="pagination-next"><a href="#" aria-label="Next page">Next</a></li>
    </ul>
  </div>
</div>
