<div id="home-background-img">
  <section class="home-container">
    <h2 class="homepage-title">SWEATSY</h2>
    <div class="content-underline"></div>
    <h4 class="homepage-title"><em>Get ready to get sweaty!</em></h4>
  </section>
</div>
<section>
  <h5>Our Story</h5>
  <p>Storify Dan Fleckner Robin Sloan <strong>hashtag</strong> future of <strong>context</strong> The Work of Art in the Age of <strong>Mechanical Reproduction</strong> fourth estate semipermeable newspaper strike fair use hyperlocal <strong>West Seattle</strong> Blog process vs. product, startups discuss production of innocence commons-based peer production hashtag paidContent Ushahidi I saw it on Mediagazer trolls dingbat David Foster Wallace crowdsourcing, net neutrality Neil Postman analytics Walter Cronkite died for your sins Gutenberg afternoon paper <strong>TechCrunch NPR</strong> fair use Innovator's Dilemma +1.</p>
</section>

<section>
  <h5>Browse Top <big>Products</big></h5>
  <% @products.each do |product|%>
  <li><%= product.name %></li>
  <% end %>
</ul>
<%= link_to "See More", products_path %>
</section>

<section>
  <h5>Browse by <big>Category</big></h5>
  <ul>
    <% @categories.each do |category|%>
    <li><%= category.name %></li>
    <% end %>
  </ul>
  <%= link_to "See More", categories_path %>
</section>

<section>
  <h5>See Top <big>Sellers</big></h5>
  <ul>
    <% @merchants.each do |merchant|%>
    <li><%= merchant.username %></li>
    <% end %>
  </ul>
  <%= link_to "See More", merchants_path %>
  <br>
  <%= link_to "Sign Up to Sell", new_merchant_path %>
</section>
