<div class="homepage">
  <div id="home-background-img">
    <section class="home-container">
      <h2 class="homepage-title">SWEATSY</h2>
      <div class="content-underline"></div>
      <h4 class="homepage-title"><em>Get ready to get sweaty!</em></h4>
    </section>
  </div>
  <section>
    <h4 class='home-header'>Our Story</h4>
    <hr />

    <section class = 'text-center'>
      <h5><em><strong>Sweatsy</strong>, adj.: being both sweaty and sexy.</em></h5>
    </section>

    <p>Are you ready to get sweaty? <strong>Sweatsy</strong> is the brainchild of Ludwig Von Swetson and Lucretia Sweatovsky, two exercise enterpreneur enthusiasts. Their <strong>vision</strong> was to start business to offer people of all walks of life <strong>high-end</strong> couture active wear. From leggings to spandex, to leotards and scrunchies, our apparel is guaranteed to <strong>make you sweat</strong> in as fabulous a way possible. We source from the most elite factories of the Lithuanian countryside and use the most <strong>sweatastic</strong> and semipermeable textiles. We hope you enjoy perusing our stock of sweaty accessories and consider buying something to help you reach sweat <strong>success</strong>! Don't sweat the small stuff! Start your day with sweatsy and love your life <strong>bigly</strong>. Hashtag live life to the <strong>sweatiest</strong>. Hashtag life is sweet and sweaty. Don't forget to follow us on Instagram puh-lease! Thank you for visiting our beautiful website! It is the best website, trust us no bugs just sweat.
    </p>
  </section>

  <section>
    <div class="text-center">
      <h4 class='home-header'>Browse Top <big>P</big>roducts</h4>
      <hr />
      <ul>
        <% @products.each do |product|%>
        <li class='thumbnail'>
          <div class='caption'>
            <h5><strong><%=link_to product.name, product_path(product) %></strong> </h5>
          </div>
          <div class='home-image-expand'>
            <img src=<%=product.photo%> alt='placeholder photo' />
          </div>
        </li>
        <% end %>
      </ul>
      <%= link_to "See More", products_path, class:'button' %>
    </div>
  </section>


  <section>
    <div class="text-center">
      <h4 class='home-header'>Browse by <big>C</big>ategory</h4>
      <hr />
      <ul >
        <li class='thumbnail'>
          <div class='caption'>
            <h5><strong><%= link_to 'Shirts', categories_path %></strong> </h5>
          </div>
          <div class='home-image'>
            <img src='http://via.placeholder.com/200x250' alt='placeholder photo' />
          </div>
        </li>

        <li class='thumbnail'>
          <div class='caption'>
            <h5><strong><%= link_to 'Shoes', categories_path %></strong> </h5>
          </div>
          <div class='home-image'>
            <img src='http://via.placeholder.com/200x250' alt='placeholder photo' />
          </div>
        </li>

        <li class='thumbnail'>
          <div class='caption'>
            <h5><strong><%= link_to 'Accessories', categories_path %></strong> </h5>
          </div>
          <div class='home-image'>
            <img src='http://via.placeholder.com/200x250' alt='placeholder photo' />
          </div>
        </li>

        <li class='thumbnail'>
          <div class='caption'>
            <h5><strong><%= link_to 'Legwarmers', categories_path %></strong> </h5>
          </div>
          <div class='home-image'>
            <img src='http://via.placeholder.com/200x250' alt='placeholder photo' />
          </div>
        </li>

      </ul>
      <%= link_to "See More", categories_path, class:'button'  %>
    </div>
  </section>

  <section>
    <div class="text-center">

      <h4 class='home-header'>See Top <big>S</big>ellers</h4>
      <hr />
      <ul class="grid-x merchants">
        <li class="size1"><%= link_to Merchant.find(1).username, merchants_path %></li>
        <li class="size2"><%= link_to Merchant.find(2).username, merchants_path %></li>
        <li class="size3"><%= link_to Merchant.find(3).username, merchants_path %></li>
        <li class="size4"><%= link_to Merchant.find(4).username, merchants_path %></li>
      </ul>
      <%= link_to "See More", merchants_path, class:'button'  %>
    </div>
  </section>
</div>
