<section>
  <h3>Merchant: <%=@product.merchant.username%></h3>

  <p>
    Categories:
    <% @product.categories.each do |category|%>
    <%= category.name %>
    <% end %>
  </p>
</section>

<section class= 'product info '>
  <h2><strong><%= @product.name %></strong></h2>
  <div>
    <img src="http://placekitten.com/g/400/350" alt='placeholder image'/>
  </div>
  <%=number_to_currency(@product.price)%>
  <p>
    <%= @product.description %>
  </p>
  <p>
    <%= @product.available %> Available
  </p>

  <p class='button'>
    <%= link_to 'Add to cart', '#' %>
  </p>
</section>

<section>
  <h6>Average Review: <%= @product.average_rating %></h6>

  <h4>All Reviews</h4>
  <table>
    <thead>
      <th>Rating</th>
      <th>Description</th>
    </thead>
    <tbody>
      <% @product.reviews.each do |review| %>
      <tr>
        <td><%= review.rating %></td>
        <td><%= review.description %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</section>

<section class='review'>
  <h3>Enjoyed this product? Write a review</h3>

  <%= form_for :review, url: product_reviews_path(@product.id) do |f| %>
  <%= f.label :rating %>
  <%= f.select :rating, (1..5) %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.submit %>
  <% end %>
  <!-- <p class= 'button'
  <%= link_to "Write a Review", new_product_review_path(@product.id) %>
</p> -->
</section>
