<section>
  <h3>Merchant: <%=@product.merchant.username%></h3>

  <p>
    Categories:
    <% @product.categories.each do |category|%>
    <%= category.name %>
    <% end %>
  </p>
</section>

<section class= 'product info '>
  <h2><strong><%= @product.name %></strong></h2>
  <div>
    <img src="<%=product.photo%>" alt='placeholder image'/>
  </div>
  <%=number_to_currency(@product.price)%>
  <p>
    <%= @product.description %>
  </p>
  <p>
    <%= @product.available %> Available
  </p>

  <div class='text-center'>
      <%= form_for @order_product do |f| %>
        <% max = @product.available %>
        <%= f.hidden_field :product_id, value: @product.id %>
        <%= f.number_field :quantity, value: 1, min: 1, max: max, class: "quantity" %>
        <%= f.submit "Add to cart", class: "button" %>
      <% end %>
  </div>

</section>

<section>
  <h6>Average Review: <%= average_rating(@product) %></h6>

  <h4>All Reviews</h4>
  <table>
    <thead>
      <th>Rating</th>
      <th>Description</th>
    </thead>
    <tbody>
      <% @product.reviews.each do |review| %>
      <tr>
        <td><%= review.rating %></td>
        <td><%= review.description %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</section>

<section class='review'>
  <h3>Enjoyed this product? Write a review</h3>

  <%= form_for :review, url: product_reviews_path(@product.id) do |f| %>
  <%= f.label :rating %>
  <%= f.select :rating, (1..5) %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.submit %>
  <% end %>
  <!-- <p class= 'button'
  <%= link_to "Write a Review", new_product_review_path(@product.id) %>
</p> -->
</section>
