<h3>Add a new product</h3>

<%= form_for @products do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :price %>
  <%= f.number_field :price %>

  <%= f.label :available %>
  <%= f.number_field :available %>

  <%= f.submit %>
<% end %>
