<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
  <!-- Font Awesome CDN -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <nav>
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text"><%= link_to "Sweatsy", root_path %></li>
          <li>
            <a href="#">Browse</a>
            <ul class="menu vertical">
              <li><a href="/merchants">By Merchant</a></li>
              <li><a href="/categories">By Category</a></li>
              <li><a href="/products">All Products</a></li>
            </ul>
          </li>
          <li><a href="#">Two</a></li>
          <li><a href="#">Three</a></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <%= link_to "Already a Merchant? Login!", github_login_path, class: "button" %>
        <%= link_to "Sell Stuff on Sweatsy!", new_merchant_path, class: "button" %>
        <a href="/cart"><i class="fa fa-shopping-cart fa-2x"></i></a>
      </div>
    </div>
  </nav>
  <main>
    <%= yield %>
  </main>


</body>
</html>
