<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css?family=Arsenal|Dosis|Handlee|Neucha|Raleway|Shadows+Into+Light" rel="stylesheet">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= "Sweatsy" %></title>

  <!-- Font Awesome CDN -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <nav class='navbar'>
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="top-bar-left">
          <li class="menu-text title"><strong><%= link_to "Sweatsy", root_path %></li></strong>
        </ul>
      </div>
      <div class="top-bar">
        <ul class="dropdown menu" data-dropdown-menu>
          <li>
            <strong><%= link_to 'Browse products', products_path, class:' button'%></strong>
            <ul class="menu vertical">
              <li><a href="/merchants">By Merchant</a></li>
              <li><a href="/categories">By Category</a></li>
              <li><a href="/products">All Products</a></li>
            </ul>
          </li>

        </ul>
      </div>
      <div class="top-bar-right">
        <% if @current_user %>
          <%= link_to "Logged in as #{@current_user.username}",merchant_path(@current_user)%>
          <%= link_to "Logout", logout_path, method: :delete, class: 'button' %>
        <%else%>
          <%= link_to "Login/Become a Merchant", '/auth/github', class: "button" %>
           <%=link_to "Sell Stuff on Sweatsy!", new_merchant_path, class: 'button'%>
          <%end%>

        <a href="/cart"><i class="fa fa-shopping-cart fa-2x"></i></a>
      </div>
    </div>
  </nav>


  <main>
    <section class="flash" >
      <% flash.each do |name, message| %>
      <div class="callout <%= name %>"><%= message %></div>
      <% end %>
    </section>

    <%= yield %>
  </main>


</body>
</html>
